.login-main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.login-form {
    width: 80%;
    padding: calc(15% - 20px);
}

.forgot-main .ant-form-item-control-input-content {
    display: flex;
    justify-content: space-between;
}

.register-main .ant-form-item-control-input-content {
    display: grid;
}

.or {
    display: flex;
    padding: 10px;
    justify-content: center
}

/* .register {
    padding: 5px;
    background: #1890ff;
    color: #fff;
    display: flex;
    justify-content: center;
} */